@using COMP4952_Sockim.Services
@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Options
@using System.Numerics

@rendermode InteractiveServer
@implements IAsyncDisposable
@inject NavigationManager NavManager
@inject UserManager<ChatUser> UserManager
@inject ChatService ChatService

<div class="app-layout">
    @if (!_loading)
    {
        <ChatInfoMessages ChatHubConnection="@_chatHubConnection" InfoMessages="@_infoMessages"></ChatInfoMessages>
        <ChatErrors ChatHubConnection="@_chatHubConnection" Errors="@_errors"></ChatErrors>
        <div class="main-content">
            <div class="main-content-header">
                <ChatInvitations ChatHubConnection="@_chatHubConnection" Invitations="@_invitations" User="@_user"
                    @ref="@_chatInvitations" />
            </div>
            <hr />
            @if (!_chatOpen)
            {
                <div class="chat-list-header">
                    <button class="btn-regular" @onclick="OnAddChat">Create Chat</button>
                </div>
                @if (_user is not null && _chatHubConnection is not null && _showCreateChat)
                {
                    <ChatCreateForm ChatHubConnection=_chatHubConnection User=_user OnClose="CloseAddChat" />
                }
                <ChatList ChatOpened="@OpenChat" ChatHubConnection="@_chatHubConnection" Chats="@_chats" User="@_user" />
            }
            else
            {
                <ChatForm MessageHubConnection="@_messageHubConnection" ChatHubConnection="@_chatHubConnection"
                    CloseChat="@CloseChat" ChatDto="@_chat" User="@_user" />
            }
        </div>
    }
    else
    {
        <p>... loading ...</p>
    }
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? _authState { get; set; }
    private ElementReference _chatForm;
    private ClaimsPrincipal _userClaim = null!;
    private ChatUser _user = null!;
    private ChatDto _chat = null!;

    private List<ChatDto> _chats = [];
    private List<ChatInvitationDto> _invitations = [];
    private List<SockimError> _errors = [];
    private List<SockimMessage> _infoMessages = [];

    private HubConnection? _chatHubConnection;
    private HubConnection? _messageHubConnection;
    private HubConnection? _notificationHubConnection;

    private bool _loading = true;
    private bool _showCreateChat = false;
    private bool _chatOpen = false;
    private bool IsChatConnected => _chatHubConnection?.State == HubConnectionState.Connected;
    private bool IsMessageConnected => _messageHubConnection?.State == HubConnectionState.Connected;

    public required ChatInvitations _chatInvitations;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        if (_authState is not null)
        {
            var authState = await _authState;
            _userClaim = authState.User;

            if (_userClaim.Identity!.IsAuthenticated)
            {
                _user = (await UserManager.GetUserAsync(_userClaim))!;
            }

            _chatHubConnection = new HubConnectionBuilder()
            .WithUrl(NavManager.ToAbsoluteUri("/chathub"))
            .WithAutomaticReconnect()
            .Build();

            _chatHubConnection.On<ChatDto>("ChatCreated", (ChatDto newChat) =>
            {
                _chats.Add(newChat);
                _infoMessages.Add(new SockimMessage()
                {
                    Message = "new chat created"
                });
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatDto[]>("RetrievedChats", (ChatDto[] retrievedChats) =>
            {
                _chats = retrievedChats.ToList();
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatMessageDto>("NewChatMessage", (newMessage) =>
            {
                int chatIdx = _chats.FindIndex(c => c.Id == newMessage.ChatId);
                try
                {
                    Console.WriteLine("NEW CHAT MESSAGE");
                    _chats[chatIdx].Unread = true;
                    _chats[chatIdx].MostRecent = newMessage;
                    InvokeAsync(StateHasChanged);
                }
                catch (IndexOutOfRangeException ex)
                {
                    _errors.Add(new SockimError() { Message = "Internal Error: chat update failed." });
                }
            });

            _chatHubConnection.On<ChatDto>("RemovedFromChat", (ChatDto chat) =>
            {
                if (_chatOpen)
                    InvokeAsync(CloseChat);
                _chats.Remove(chat);
                _infoMessages.Add(new SockimMessage()
                {
                    Message = "removed from chat"
                });
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatDto, ChatUserDto>("MemberRemoved", (ChatDto chat, ChatUserDto user) =>
            {
                _infoMessages.Add(new SockimMessage()
                {
                    Message = $"{user.Email} removed from chat {chat.ChatName}"
                });
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatDto>("ChatUpdated", (ChatDto chat) =>
            {
                int index = _chats.FindIndex(c => c.Id == chat.Id);
                try
                {
                    _chats[index].ChatName = chat.ChatName;
                    InvokeAsync(StateHasChanged);
                }
                catch (IndexOutOfRangeException ex)
                {
                    _errors.Add(new SockimError() { Message = "Internal error: chat update failed." });
                }
            });

            _chatHubConnection.On<ChatInvitationDto>("IncomingInvitation", (ChatInvitationDto) =>
            {
                _invitations.Add(ChatInvitationDto);
                _chatInvitations.ShowNotificationBadge();
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatDto>("InvitationAccepted", (ChatDto newChat) =>
            {
                _chats.Add(newChat);
                _infoMessages.Add(new SockimMessage()
                {
                    Message = "chat invitation accepted"
                });
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatInvitationDto[]>("RetrievedInvitations", (ChatInvitationDto[] invitations) =>
            {
                _invitations = invitations.ToList();
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<SockimMessage>("InvitationSent", (SockimMessage message) =>
            {
                _infoMessages.Add(message);
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<object>("InvitationRejected", (object data) =>
            {
                // Invitation was rejected - it's already removed server-side
                // Invitation was already removed from UI in ChatInvitations component
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<SockimError>("Error", (SockimError error) =>
            {
                _errors.Add(error);
                InvokeAsync(StateHasChanged);
            });

            _messageHubConnection = new HubConnectionBuilder()
            .WithUrl(NavManager.ToAbsoluteUri("/messagehub"))
            .WithAutomaticReconnect()
            .Build();

            _messageHubConnection.On<SockimError>("Error", (SockimError error) =>
            {
                _errors.Add(error);
                InvokeAsync(StateHasChanged);
            });

            _messageHubConnection.On<SockimMessage>("MessageDeletedSuccess", (SockimMessage message) =>
            {
                _infoMessages.Add(message);
                InvokeAsync(StateHasChanged);
            });

            _notificationHubConnection = new HubConnectionBuilder()
            .WithUrl(NavManager.ToAbsoluteUri("/notifhub"))
            .WithAutomaticReconnect()
            .Build();

            if (_chatHubConnection.State == HubConnectionState.Disconnected)
                await _chatHubConnection.StartAsync();
            if (_messageHubConnection.State == HubConnectionState.Disconnected)
                await _messageHubConnection.StartAsync();
            @* if (_notificationHubConnection.State == HubConnectionState.Disconnected)
                await _notificationHubConnection.StartAsync(); *@

            Console.WriteLine($"adding chat user {_user.Id}");

            await _chatHubConnection.SendAsync("AddChatUser", _user.Id);
            @* await _notificationHubConnection.SendAsync("ConnectUser", _user.Id); *@
            await _chatHubConnection.SendAsync("RetrieveChats", _user.Id);
            await _chatHubConnection.SendAsync("RetrieveInvitations", _user.Id);

            _loading = false;
        }
    }

    private void OnAddChat()
    {
        _showCreateChat = true;
    }

    private void CloseAddChat()
    {
        _showCreateChat = false;
        StateHasChanged();
    }

    private void OpenChat(ChatDto chat)
    {
        _chat = chat;
        _chatOpen = true;
    }

    private void CloseChat()
    {
        _chatOpen = false;
        StateHasChanged();
    }

    /// <summary>
    /// Disconnect from the server if the component is disposed.
    /// </summary>
    public async ValueTask DisposeAsync()
    {
        if (_chatHubConnection is not null)
        {
            if (_chatHubConnection.State == HubConnectionState.Connected)
                await _chatHubConnection.SendAsync("RemoveChatUser", _user.Id);

            _chatHubConnection.Remove("ChatCreated");
            _chatHubConnection.Remove("RetrievedChats");
            _chatHubConnection.Remove("RemovedFromChat");
            _chatHubConnection.Remove("MemberRemoved");
            _chatHubConnection.Remove("ChatUpdated");
            _chatHubConnection.Remove("IncomingInvitation");
            _chatHubConnection.Remove("InvitationAccepted");
            _chatHubConnection.Remove("RetrievedInvitations");
            _chatHubConnection.Remove("InvitationSent");
            _chatHubConnection.Remove("InvitationRejected");
            _chatHubConnection.Remove("Error");
            _chatHubConnection.Remove("NewChatMessage");

            if (_chatHubConnection.State == HubConnectionState.Connected)
                await _chatHubConnection.StopAsync();
        }
        if (_messageHubConnection is not null)
        {
            _messageHubConnection.Remove("Error");
            _messageHubConnection.Remove("MessageDeletedSuccess");

            if (_messageHubConnection.State == HubConnectionState.Connected)
                await _messageHubConnection.StopAsync();
        }
    }
}