@using COMP4952_Sockim.Services
@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Options
@using System.Numerics

@rendermode InteractiveServer
@inject NavigationManager NavManager
@inject UserManager<ChatUser> UserManager
@inject ChatService ChatService

<h1>INFO</h1>
<ul>
    <li>Chat: @IsChatConnected</li>
    <li>Invitation: @IsInvitationConnected</li>
    <li>Message: @IsMessageConnected</li>
</ul>

@if(!_chatOpen)
{
    <button @onclick="OnAddChat">Add Chat</button>
    @if(_user is not null && _chatHubConnection is not null)
    {
        <ChatCreateForm ChatHubConnection=_chatHubConnection User=_user></ChatCreateForm>
    }

    <p>Invitations</p>
    <ChatInvitations    InvitationHubConnection="@_invitationHubConnection"
                        Invitations="@_invitations"
                        User="@_user" />
    <p>Chats</p>
    <ChatList   ChatOpened="@OpenChat"
                ChatHubConnection="@_chatHubConnection"
                Chats="@_chats"
                User="@_user" />
}
else
{
    <button type="button" @onclick="CloseChat">X</button>
    @if (_user is not null && _messageHubConnection is not null)
    {
        <ChatForm   MessageHubConnection="@_messageHubConnection"
                    ChatDto="@_chat"
                    Messages="@_messages"
                    User="@_user" />
    }
}

@code {
    @* public event Action<ChatDto>? OnChatCreated;
    public event Action<ChatDto[]>? OnChatsRetrieved;
    public event Action<ChatInvitationDto>? OnInvitationCreated;
    public event Action<ChatInvitationDto[]>? OnInvitationsRetrieved;
    public event Action<ChatMessageDto>? OnMessageReceived;
    public event Action<ChatMessageDto[]>? OnMessagesReceived; *@

    private bool _showCreateChat = false;
    private bool _chatOpen = false;

    private ElementReference _chatForm;

    [CascadingParameter]
    private Task<AuthenticationState>? _authState { get; set; }
    private ClaimsPrincipal _userClaim = null!;

    private ChatUser _user = null!;
    private ChatDto _chat = null!;

    private List<ChatDto> _chats = [];
    private List<ChatInvitationDto> _invitations = [];
    private List<ChatMessageDto> _messages = [];

    private HubConnection? _chatHubConnection;
    private HubConnection? _invitationHubConnection;
    private HubConnection? _messageHubConnection;
    private bool IsChatConnected => _chatHubConnection?.State == HubConnectionState.Connected;
    private bool IsInvitationConnected => _invitationHubConnection?.State == HubConnectionState.Connected;
    private bool IsMessageConnected => _messageHubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        if (_authState is not null)
        {
            var authState = await _authState;
            _userClaim = authState.User;

            if (_userClaim.Identity!.IsAuthenticated)
            {
                _user = (await UserManager.GetUserAsync(_userClaim))!;
            }

            _chatHubConnection = new HubConnectionBuilder()
                .WithUrl(NavManager.ToAbsoluteUri("/chathub"))
                .WithAutomaticReconnect()
                .Build();

            _chatHubConnection.On<ChatDto>("ChatCreated", (ChatDto newChat) =>
            {
                _chats.Add(newChat);
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatDto[]>("RetrievedChats", (ChatDto[] retrievedChats) =>
            {
                _chats = retrievedChats.ToList();
                InvokeAsync(StateHasChanged);
            });

            _chatHubConnection.On<ChatInvitationDto>("IncomingInvitation", (ChatInvitationDto invitation) => {
                _invitations.Add(invitation);
                InvokeAsync(StateHasChanged);
            });

            _invitationHubConnection = new HubConnectionBuilder()
                .WithUrl(NavManager.ToAbsoluteUri("/invitationhub"))
                .WithAutomaticReconnect()
                .Build();

            _invitationHubConnection.On<ChatDto>("InvitationAccpeted", (ChatDto newChat) => {
                _chats.Add(newChat);
                InvokeAsync(StateHasChanged);
            });

            _invitationHubConnection.On<ChatInvitationDto[]>("RetrievedInvitations", (ChatInvitationDto[] invitations) =>
            {
                _invitations = invitations.ToList();
                InvokeAsync(StateHasChanged);
            });

            _messageHubConnection = new HubConnectionBuilder()
                .WithUrl(NavManager.ToAbsoluteUri("/messagehub"))
                .WithAutomaticReconnect()
                .Build();

            if (_chatHubConnection.State == HubConnectionState.Disconnected)
                await _chatHubConnection.StartAsync();
            if (_invitationHubConnection.State == HubConnectionState.Disconnected)
                await _invitationHubConnection.StartAsync();
            if (_messageHubConnection.State == HubConnectionState.Disconnected)
                await _messageHubConnection.StartAsync();

            await _chatHubConnection.SendAsync("AddNotificationUser", _user.Id);
            await _chatHubConnection.SendAsync("RetrieveChats", _user.Id);
            await _invitationHubConnection.SendAsync("AddInvitationUser", _user.Id);
            await _invitationHubConnection.SendAsync("RetrieveInvitations", _user.Id);
        }
    }

    private void OnAddChat()
    {
        _showCreateChat = true;
    }

    private void CloseAddChat()
    {
        _showCreateChat = false;
        StateHasChanged();
    }

    private void OpenChat(ChatDto chat)
    {
        _chat = chat;
        _chatOpen = true;
    }

    private void CloseChat()
    {
        _chatOpen = false;
        StateHasChanged();
    }

    private void AcceptInvitation(ChatInvitationDto invitationDto)
    {
    }

    private void DeclineInvitation(ChatInvitationDto invitationDto)
    {
    }
}
