@using COMP4952_Sockim.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using System.ComponentModel.DataAnnotations
@using Microsoft.Build.Framework
@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.DotNet.Scaffolding.Shared.Messaging
@using System.Security.Claims

@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject UserManager<ChatUser> UserManager
@inject NavigationManager NavManager
@inject AuthenticationStateProvider ASP
@inject MessagesService MessagesService

<div class="chat-container">
    <h1>Connected: @IsConnected</h1>
    <div class="message-list-wrapper" @ref="_messageListWrapper">
        <ul class="message-list">
            @foreach (ChatMessageDto message in _messages)
            {
                <li>
                    <span><b>@message.SenderEmail</b></span>
                    <p>@message.MessageContent</p>
                    <span><b>@message.MessageDateTime</b></span>
                    <br />
                </li>
            }
        </ul>
    </div>
    <div class="input-controls">
        <div class="form-group">
            <br />
            <label>
                Message: <input @bind="_message" />
            </label>
        </div>
        <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
    </div>
</div>

@code {
    [Parameter]
    public Chat Chat { get; set; } = null!;

    private ElementReference _messageListWrapper;
    private HubConnection? _hubConnection;
    private List<ChatMessageDto> _messages = [];
    private string _message = string.Empty;
    public bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;
    private AuthenticationState? _authState;
    private ClaimsPrincipal? _userClaim;
    private ChatUser? _user;

    protected override async Task OnInitializedAsync()
    {
        _authState = await ASP.GetAuthenticationStateAsync();
        _userClaim = _authState.User;
        if (_userClaim?.Identity?.IsAuthenticated == true)
        {
            _user = (await UserManager.GetUserAsync(_userClaim))!;
        }

        if (_userClaim?.Identity?.IsAuthenticated == true)
        {
            _hubConnection = new HubConnectionBuilder()
                .WithUrl(NavManager.ToAbsoluteUri("/chathub"))
                .WithAutomaticReconnect()
                .Build();

            _hubConnection.On<ChatMessageDto>("ReceiveMessage", async (messageDto) =>
            {
                _messages.Add(messageDto);
                await ScrollToBottom();
                await InvokeAsync(StateHasChanged);
            });

            await _hubConnection.StartAsync();

            _messages = MessagesService.GetChatMessages(Chat.Id).ToList();
        }
    }

    private async Task ScrollToBottom()
    {
        if (_messageListWrapper.Id != null)
        {
            await JSRuntime.InvokeVoidAsync("scrollToElementBottom", _messageListWrapper);
        }
    }

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message) || _user == null)
            return;

        ChatMessageDto newMessage = new()
        {
            ChatId = Chat.Id,
            ChatUserId = _user.Id,
            SenderEmail = _user.Email ?? string.Empty,
            MessageContent = _message,
            MessageDateTime = DateTime.UtcNow
        };

        try
        {
            await MessagesService.AddChatMessage(newMessage);

            if (_hubConnection is not null)
            {
                await _hubConnection.SendAsync("SendMessage", Chat.Id, newMessage);
                await ScrollToBottom();
            }

            _message = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error sending message: {ex.Message}");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}