@using COMP4952_Sockim.Components.Pages
@using COMP4952_Sockim.Hubs
@using COMP4952_Sockim.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using System.ComponentModel.DataAnnotations
@using Microsoft.Build.Framework
@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using System.Security.Claims

@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject UserManager<ChatUser> UserManager
@inject NavigationManager NavManager
@inject ChatUserService ChatUserService
@inject ChatService ChatService

<button type="button" class="btn-remove" @onclick="CloseChat">Close</button>
<button type="button" class="btn-remove" @onclick="@OpenChatOptions">Chat Options</button>

@if(_showChatOptions) {
    <ChatFormOptions    ChatMembers="@_chatMembers"
                        ChatDto="@ChatDto"
                        User="@User"
                        ChatHubConnection="@ChatHubConnection"
                        CloseChatOptions="@CloseChatOptions"></ChatFormOptions>
}

<div class="main-content chat-main-content">
    <section class="section chat-section">
        <div class="chat-content">
            <div class="message-list-wrapper" @ref="_messageListWrapper">
                <ul class="message-list">
                    @if (User is not null)
                    {
                        @foreach (ChatMessageDto message in _messages)
                        {
                            <li>
                                <span class="message-meta"><b>@message.SenderEmail</b>, <b>@message.MessageDateTime</b></span>
                                @if (_editMessage && _editMessageId == message.Id) {
                                    <input type="text" @bind-value="@_updatedMessage" />
                                    <div class="display:flex;flex-direction:row;">
                                        <button class="btn-remove" type="button" @onclick="() => SaveMessageEdit(message, _updatedMessage)">Save</button>
                                        <button class="btn-remove" type="cancel" @onclick="() => CancelMessageEdit(message)">Cancel</button>
                                    </div>
                                } else {
                                    <p class="message-text">@message.MessageContent</p>
                                }
                                @if(message.ChatUserId == User.Id) {
                                    <button class="btn-remove" type="button" disabled="@_editMessage"
                                            @onclick="() => EditMesssage(message)" >
                                        Edit
                                    </button>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="input-controls">
                <div class="form-group">
                    <label for="message-input">Message:</label>
                    <input id="message-input" @bind="_message" class="message-input" />
                </div>
                <button class="send-btn" @onclick="Send">Send</button>
            </div>
        </div>
    </section>
</div>

@code {
    [Parameter]
    public ChatDto ChatDto { get; set; } = null!;
    [Parameter]
    public ChatUser User { get; set; } = null!;
    [Parameter]
    public HubConnection MessageHubConnection { get; set; } = null!;
    [Parameter]
    public HubConnection? ChatHubConnection { get; set; }
    [Parameter]
    public List<ChatMessageDto>? Messages { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = true;
    [Parameter]
    public EventCallback CloseChat { get; set; }

    private ElementReference _messageListWrapper;
    private List<ChatMessageDto> _messages = [];
    private List<ChatUserDto> _chatMembers = [];
    private string _message = string.Empty;

    private int _editMessageId = -1;
    private bool _showChatOptions = false;
    private bool _editMessage = false;
    private string _updatedMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (ChatHubConnection is not null)
        {
            ChatHubConnection.On<ChatUserDto>("MemberJoined", (ChatUserDto user) => {
                _chatMembers.Add(user);
                InvokeAsync(StateHasChanged);
            });

            ChatHubConnection.On<ChatDto, ChatUserDto>("MemberRemoved", (ChatDto chat, ChatUserDto chatUser) => {
                _chatMembers.Remove(chatUser);
                InvokeAsync(StateHasChanged);
            });

            ChatHubConnection.On<ChatUserDto[]>("RetrievedUsers", (ChatUserDto[] users) => {
                _chatMembers = users.ToList();
                InvokeAsync(StateHasChanged);
            });

            ChatHubConnection.On<ChatDto>("ChatUpdated", (ChatDto chat) => {
                ChatDto = chat;
                InvokeAsync(StateHasChanged);
            });

            await ChatHubConnection.SendAsync("ConnectToChatGroup", ChatDto.Id);
            await ChatHubConnection.SendAsync("GetChatMembers", ChatDto.Id);
        }

        if (MessageHubConnection is not null)
        {
            @* // User comes online
            MessageHubConnection.On<ChatUserDto>("UserJoined", (ChatUserDto user) => {
            });

            // User goes offline
            MessageHubConnection.On<ChatUserDto>("UserLeft", (ChatUserDto user) => {
            });

            MessageHubConnection.On<ChatUserDto>("MemberRemoved", (ChatUserDto user) => {
            }); *@

            MessageHubConnection.On<ChatMessageDto>("MessageUpdated", (ChatMessageDto message) =>
            {
                int index = _messages.IndexOf(message);
                _messages[index] = message;
                InvokeAsync(StateHasChanged);
            });

            MessageHubConnection.On<ChatMessageDto>("ReceiveMessage", (ChatMessageDto message) =>
            {
                _messages.Add(message);
                InvokeAsync(StateHasChanged);
            });

            MessageHubConnection.On<ChatMessageDto[]>("RetrievedMessages", (ChatMessageDto[] messages) =>
            {
                _messages = messages.ToList();
                InvokeAsync(StateHasChanged);
            });

            await MessageHubConnection.SendAsync("JoinChat", ChatDto.Id, User.Id);
            await MessageHubConnection.SendAsync("GetChatHistory", ChatDto.Id);

        }
    }

    private void OpenChatOptions()
    {
        _showChatOptions = true;
    }

    private void CloseChatOptions()
    {
        _showChatOptions = false;
    }



    private void EditMesssage(ChatMessageDto message)
    {
        // switch the span into an input
        // give the span the same content
        // when the message is finished editing, send to db and update

        _editMessage = true;
        _updatedMessage = message.MessageContent;
        _editMessageId = message.Id;

        Console.WriteLine(message.Id);

        InvokeAsync(StateHasChanged);
    }

    private void CancelMessageEdit(ChatMessageDto message)
    {
        _editMessage = false;
        _editMessageId = -1;

        InvokeAsync(StateHasChanged);
    }

    private async void SaveMessageEdit(ChatMessageDto message, string _updatedMessage)
    {
        _editMessage = false;
        _editMessageId = -1;

        // Save changes to the database if the message content is actually different.
        Console.WriteLine($"Edited: {message.MessageContent}"); 

        message.MessageContent = _updatedMessage;

        await MessageHubConnection.SendAsync("EditMessage", message);
        await InvokeAsync(StateHasChanged);
    }

    private async Task ScrollToBottom()
    {
        if (_messageListWrapper.Id != null)
        {
            await JSRuntime.InvokeVoidAsync("scrollToElementBottom", _messageListWrapper);
        }
    }

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message) || User == null)
            return;

        ChatMessageDto newMessage = new()
        {
            ChatId = ChatDto.Id,
            ChatUserId = User.Id,
            SenderEmail = User.Email ?? string.Empty,
            MessageContent = _message,
            MessageDateTime = DateTime.UtcNow
        };

        Console.WriteLine($"{newMessage.SenderEmail}");

        try
        {
            if (MessageHubConnection is not null)
            {
                await MessageHubConnection.SendAsync("SendMessage", ChatDto.Id, newMessage);
                await ScrollToBottom();
            }
            _message = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error sending message: {ex.Message}");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (ChatHubConnection is not null)
        {
            await ChatHubConnection.SendAsync("DisconnectToChatGroup", ChatDto.Id);
        }
        if (MessageHubConnection is not null)
        {
            await MessageHubConnection.SendAsync("LeaveChat", ChatDto.Id, User.Id);
        }
    }
}
