@using COMP4952_Sockim.Components.Pages
@using COMP4952_Sockim.Hubs
@using COMP4952_Sockim.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using System.ComponentModel.DataAnnotations
@using Microsoft.Build.Framework
@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models

@inject UserPreferenceService UserPreferenceService
@using System.Security.Claims

@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject UserManager<ChatUser> UserManager
@inject NavigationManager NavManager
@inject ChatUserService ChatUserService
@inject ChatService ChatService

@if(_showChatOptions) {
    <ChatFormOptions    ChatMembers="@_chatMembers"
                        ChatDto="@ChatDto"
                        User="@User"
                        ChatHubConnection="@ChatHubConnection"
                        MemberColors="@_memberColors"
                        CloseChatOptions="@CloseChatOptions"></ChatFormOptions>
}

@if(_showChatMessageOptions) {
    <ChatFormMessageOptions CloseChatMessageOptions="@CloseChatMessageOptions"/>
}

<div class="chat-header">
    <div class="chat-header-info">
        @ChatDto.ChatName
        @if (User.Id == ChatDto.ChatOwnerId) {
            <div class="owner-controls">
                You are the owner
            </div>
        }
    </div>
    <div class="chat-header-controls">
        <button type="button" class="btn-danger" @onclick="CloseChat">
            <img src="/images/Icons/close_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="Close" />
            Close
        </button>
        <button type="button" class="btn-regular" @onclick="@OpenChatOptions">
            <img src="/images/Icons/group_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="Options" />
            Chat Options
        </button>
        <button type="button" class="btn-regular" @onclick="@OpenChatMessageOptions">
            <img src="/images/Icons/group_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="Message Options" />
            Manage Chat Messages
        </button>
    </div>
</div>
<div class="chat-content">
    <div class="chat-message-list" @ref="_chatMessageList">
        <ChatMessageList    ChatMessages="@_messages"
                            User="@User"
                            MemberColors="@_memberColors"
                            MessageHubConnection="@MessageHubConnection"></ChatMessageList>
    </div>
    <div class="chat-input">
        <label for="message-input">Message:</label>
        <div class="chat-input-controls">
            <input id="message-input" @bind="_message" class="message-input" />
            <button class="btn-regular" @onclick="Send">
                <img src="/images/Icons/arrow_upward_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="Send" />
                Send
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ChatDto ChatDto { get; set; } = null!;
    [Parameter]
    public ChatUser User { get; set; } = null!;
    [Parameter]
    public HubConnection MessageHubConnection { get; set; } = null!;
    [Parameter]
    public HubConnection? ChatHubConnection { get; set; }
    [Parameter]
    public List<ChatMessageDto>? Messages { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = true;
    [Parameter]
    public EventCallback CloseChat { get; set; }

    private ElementReference? _chatMessageList;
    private List<ChatMessageDto> _messages = [];
    private List<ChatUserDto> _chatMembers = [];
    private string _message = string.Empty;
    private bool _showChatOptions = false;
    private bool _showChatMessageOptions = false;
    private Dictionary<int, string> _memberColors = new();

    protected override async Task OnInitializedAsync()
    {
        _memberColors = await UserPreferenceService.GetChatUserPreferencesAsync(User.Id, ChatDto.Id);
        
        if (ChatHubConnection is not null)
        {
            ChatHubConnection.On<ChatUserDto>("MemberJoined", (ChatUserDto user) => {
                _chatMembers.Add(user);
                InvokeAsync(StateHasChanged);
            });

            ChatHubConnection.On<ChatDto, ChatUserDto>("MemberRemoved", (ChatDto chat, ChatUserDto chatUser) => {
                _chatMembers.Remove(chatUser);
                InvokeAsync(StateHasChanged);
            });

            ChatHubConnection.On<ChatUserDto[]>("RetrievedUsers", (ChatUserDto[] users) => {
                _chatMembers = users.ToList();
                InvokeAsync(StateHasChanged);
            });

            ChatHubConnection.On<ChatDto>("ChatUpdated", (ChatDto chat) => {
                Console.WriteLine($"{chat.ChatOwnerId}, {chat.ChatName}");
                ChatDto = chat;
                InvokeAsync(StateHasChanged);
            });

            await ChatHubConnection.SendAsync("ConnectToChatGroup", ChatDto.Id);
            await ChatHubConnection.SendAsync("GetChatMembers", ChatDto.Id);
        }

        if (MessageHubConnection is not null)
        {
            @* // User comes online
            MessageHubConnection.On<ChatUserDto>("UserJoined", (ChatUserDto user) => {
            });

            // User goes offline
            MessageHubConnection.On<ChatUserDto>("UserLeft", (ChatUserDto user) => {
            });

            MessageHubConnection.On<ChatUserDto>("MemberRemoved", (ChatUserDto user) => {
            }); *@

            MessageHubConnection.On<ChatMessageDto>("MessageUpdated", (ChatMessageDto message) => {
                int index = _messages.IndexOf(message);
                _messages[index] = message;
                InvokeAsync(StateHasChanged);
            });

            MessageHubConnection.On<ChatMessageDto>("MessageDeleted", (ChatMessageDto message) => {
                _messages.Remove(message);
                InvokeAsync(StateHasChanged);
            });

            MessageHubConnection.On<ChatMessageDto>("ReceiveMessage", (ChatMessageDto message) =>
            {
                _messages.Add(message);
                InvokeAsync(StateHasChanged);
                InvokeAsync(ScrollToBottom);
            });

            MessageHubConnection.On<ChatMessageDto[]>("RetrievedMessages", (ChatMessageDto[] messages) => {
                _messages = messages.ToList();
                InvokeAsync(StateHasChanged);
                InvokeAsync(ScrollToBottom);
            });

            await MessageHubConnection.SendAsync("JoinChat", ChatDto.Id, User.Id);
            await MessageHubConnection.SendAsync("GetChatHistory", ChatDto.Id);
        }
    }

    private void OpenChatOptions()
    {
        _showChatOptions = true;
    }

    private void CloseChatOptions()
    {
        _showChatOptions = false;
    }

    private void OpenChatMessageOptions()
    {
        _showChatMessageOptions = true;
    }

    private void CloseChatMessageOptions()
    {
        _showChatMessageOptions = false;
    }

    private async Task ScrollToBottom()
    {
        if (_chatMessageList is not null)
        {
            await JSRuntime.InvokeVoidAsync("scrollToElementBottom", _chatMessageList);
        }
    }

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message) || User == null)
            return;

        ChatMessageDto newMessage = new()
        {
            ChatId = ChatDto.Id,
            ChatUserId = User.Id,
            SenderEmail = User.Email ?? string.Empty,
            MessageContent = _message,
            MessageDateTime = DateTime.UtcNow
        };

        Console.WriteLine($"{newMessage.SenderEmail}");

        try
        {
            if (MessageHubConnection is not null)
            {
                await MessageHubConnection.SendAsync("SendMessage", ChatDto.Id, newMessage);
                await ScrollToBottom();
            }
            _message = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error sending message: {ex.Message}");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (ChatHubConnection is not null)
        {
            await ChatHubConnection.SendAsync("DisconnectToChatGroup", ChatDto.Id);
        }
        if (MessageHubConnection is not null)
        {
            await MessageHubConnection.SendAsync("LeaveChat", ChatDto.Id, User.Id);
        }
    }
}
