@using COMP4952_Sockim.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using System.ComponentModel.DataAnnotations
@using Microsoft.Build.Framework
@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.DotNet.Scaffolding.Shared.Messaging
@using System.Security.Claims

@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject UserManager<ChatUser> UserManager
@inject NavigationManager NavManager
@inject AuthenticationStateProvider ASP
@inject MessagesService MessagesService

<div class="chat-container">
    <h1>Connected: @IsMessageConnected</h1>
    <div class="message-list-wrapper" @ref="_messageListWrapper">
        <ul class="message-list">
            @foreach (ChatMessageDto message in _messages)
            {
                <li>
                    <span><b>@message.SenderEmail</b>, <b>@message.MessageDateTime</b></span>
                    <p>@message.MessageContent</p>
                </li>
            }
        </ul>
    </div>
    <div class="input-controls">
        <div class="form-group">
            <br />
            <label>
                Message: <input @bind="_message" />
            </label>
        </div>
        <button @onclick="Send" disabled="@(!IsMessageConnected)">Send</button>
    </div>
</div>

@code {
    [Parameter]
    public Chat Chat { get; set; } = null!;
    [Parameter]
    public ChatUser User { get; set; } = null!;
    [Parameter]
    public HubConnection MessageHubConnection { get; set; } = null!;

    private ElementReference _messageListWrapper;
    private List<ChatMessageDto> _messages = [];
    private string _message = string.Empty;
    private bool IsMessageConnected => MessageHubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        MessageHubConnection.On<object>("UserJoined", async (object info) => {
            Console.WriteLine($"User join info {info}");
        });

        MessageHubConnection.On<object>("UserLeft", async (object info) => {
            Console.WriteLine($"User left info {info}");
        });

        MessageHubConnection.On<ChatMessageDto[]>("ChatHistory", async (ChatMessageDto[] messages) => {
            Console.WriteLine($"Chat history info {messages[0].MessageContent}");
            _messages.AddRange(messages.ToList());

            await ScrollToBottom();
            await InvokeAsync(StateHasChanged);
        });

        MessageHubConnection.On<ChatMessageDto>("ReceiveMessage", async (messageDto) =>
        {
            _messages.Add(messageDto);
            await ScrollToBottom();
            await InvokeAsync(StateHasChanged);
        });

        if (MessageHubConnection.State == HubConnectionState.Disconnected)
            await MessageHubConnection.StartAsync();
        
        await MessageHubConnection.SendAsync("JoinChat", Chat.Id, User.Id);
        await MessageHubConnection.SendAsync("GetChatHistory", Chat.Id);
    }

    private async Task ScrollToBottom()
    {
        if (_messageListWrapper.Id != null)
        {
            await JSRuntime.InvokeVoidAsync("scrollToElementBottom", _messageListWrapper);
        }
    }

    private async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message) || User == null)
            return;

        ChatMessageDto newMessage = new()
        {
            ChatId = Chat.Id,
            ChatUserId = User.Id,
            SenderEmail = User.Email ?? string.Empty,
            MessageContent = _message,
            MessageDateTime = DateTime.UtcNow
        };

        Console.WriteLine($"{newMessage.SenderEmail}");

        try
        {
            // await MessagesService.AddChatMessage(newMessage);

            if (MessageHubConnection is not null)
            {
                await MessageHubConnection.SendAsync("SendMessage", Chat.Id, newMessage);
                await ScrollToBottom();
            }

            _message = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error sending message: {ex.Message}");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (MessageHubConnection is not null)
        {
            await MessageHubConnection.DisposeAsync();
        }
    }
}
